h1 
{
  color: red;
}
h2
{
  text-align: center;
  font-weight: bold;
  font-size: 64px;
}
img 
{
  border-radius: 50%;
  max-width: 64px;
  max-height: 64px;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
}
table, th, td 
{
  font-size: 24px;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 20px;
}
table
{
  margin-left: center;
  margin-right: center;
}
th 
{
  font-weight: bold;
  text-align: center;
  text-align: center;
}
td
{
  text-align: center;
  text-alignt: center;
}
