body
{
  background: rgb(9,9,121);
  background: radial-gradient(circle, rgba(9,9,121,1) 0%, rgba(36,65,120,1) 40%, rgba(0,245,255,1) 100%);
}

h1 
{
  color: red;
}
h2
{
  text-align: center;
  font-weight: bold;
  font-size: 64px;
}
img
{
  width: 32px;
  height: 32px;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.profile
{
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background-position: center center;
  background-repeat: no-repeat;
}

.sound
{
  float: center;
}

.map
{
  float: right;
}

table, th, td 
{
  color: white;
  font-size: 24px;
  border: 1px solid white;
  border-collapse: collapse;
  padding: 20px;
}
table
{
  margin-left: auto;
  margin-right: auto;
  background: url("https://thumbs.gfycat.com/DecentCornyBuzzard-size_restricted.gif") no-repeat center;
    background-size: cover;
    vertical-align: top;
    background-position: center center;
}
th 
{
  font-weight: bold;
  text-align: center;
}
td
{
  text-align: center;
}
ul
{
  text-align: center;
  /*list-style-position: inside;*/
}
li
{
  
}
